#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  color: teal;
}

body{
  background-image: url(https://shopyomp.com/cdn/shop/products/TheHappyPup-everything_1024x1024.png?v=1668712204);
  
}

h1{
  line-height: 1.1;
  color: rgb(148, 85, 177);
  font-size: 50px;
  margin: 25px 0px 10px 0px;
}

p{
  font-weight: bold;
  font-size: 25px;
}

.subheading{
  color: rgb(61, 60, 60);
  margin: 15px 0px 30px 0px;
}

.card{
  background-color: rgb(169 169 169 / 65%);
  margin: 15px 125px;
  padding: 20px 0px;
}




